body {
    margin: 30px 0;
    background-color: rgb(108, 75, 139);

}

.main {
    background-color: rgb(31, 18, 44);
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;

}

button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.play-btn,
.reset-button {
    margin: auto;
}

#playerScore,
#hands,
#result {
    color: white;
    text-align: center;
    font-family: 'Inconsolata', Arial;
}

#result {
    margin-top: 10px;
    font-size: 35px;
}