<%- include('partials/head') %>
    <%- include('partials/navbar') %>



        <div class="home"">
            Random Number is: <%= randomNumber %>
        </div>
        <%- include('partials/end') %>