body {
    margin: 23px 0;
    background-color: rgb(108, 75, 139);

}

.main {
    background-color: rgb(31, 18, 44);
    width: 700px;
    height: 700px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
}

.img-container {
    margin: 20px auto 30px;
}

img {
    width: 600px;
    height: 600px;
    object-fit: contain;
    object-position: center;
}

button {
    margin: auto;
    /* margin-top: 20px; */
    border-radius: 20px;
    width: 20%;
    font-size: 40px;
    border: none;
    background-color: cornflowerblue;
    font-weight: bold;
}